@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}


:root{
    --ofconvas-width: 270px;
    --topNavBarHeight: 56px;

}

.user-icon{
    width: 30px;
    border-radius: 100%;
}

.sidebar-nav{
    width: var(--ofconvas-width) !important;

}
.sidebar-link .right-icon{
    transition: all 0.5s;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

/* laptop screen */

@media(min-width: 992px){
    .offcanvas-backdrop{
        display: none !important;
    }
    .sidebar-nav{
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavBarHeight) !important;
    }
 main{
    margin-left: var(--ofconvas-width);
}
}


/* for mobail screnn */
@media(max-width: 480px){

    .dashboard-counts .card {
    margin-bottom: 20px;

    }
    .dashboard-tabs .nav-tabs .nav-link{

    }
}

